@page
@model AnnaFest.Pages.AdminModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="contentWrapper">
    <form method="post" enctype="multipart/form-data" class="standardForm">
        <div class="inputWrapper">
            <span class="inputLabel">Spela ljud</span>
            <input type="text" class="textInput" name="name" />
        </div>
    </form>
</div>
