@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Någonting gick fel.</h2>

<p>
    @Model.ErrorMessage
</p>
<p>
    @Model.StackTrace
</p>
