@page
@model IndexModel
@{
    ViewData["Title"] = "Anna fyller 30!";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _antiforgery
@{
    string tokenValue = _antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="photoArea">
    <div class="photoInnerWrapper">
        <img src="#" id="Photo" />

        <div class="photoDescriptionWrapper">
            <span class="photoUser" id="photoUser"></span>
            <span class="photoDescription" id="description"></span>
        </div>
    </div>
</div>
<input type="hidden" id="myToken" name="MyAntiForgeryField" value="@tokenValue">

<script>
    @Html.Raw(Model.PhotoJson)

    var photo = $('#Photo');
    $(photo).on('load', () => {
        $('.photoDescriptionWrapper').css('width', photo.outerWidth() + 'px');
    });

    if (photoJson) {
        $('#description').text(photoJson.description);
        $('#photoUser').text(photoJson.user);
        photo.attr('src', photoJson.fileName);
    }

    setInterval(() => updatePicture(), 2000);

    function updatePicture() {
        var token = $("#myToken").val();
        $.ajax({
            type: "POST",
            url: "/",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN", token)
            },
            success: (e) => onPictureReceived(e)
        });
    }

    function onPictureReceived(photoJson) {
        if (photoJson && photoJson.fileName) {
            $('#description').text(photoJson.description);
            $('#Photo').attr('src', photoJson.fileName);
            $('#photoUser').text(photoJson.user);
        }
    }
</script>